.elements-list span {
	text-transform: capitalize;
	border: 1px dotted var(--darker-gray-border);
	display: inline-block;
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	background: var(--gray-light-color);
	cursor: pointer;
}

.elements-list {
	gap: 0.5rem;
	padding: 0.7rem;
}

.preview-box {
	height: calc(100% - 4rem);
	overflow: auto;
	box-sizing: border-box;
}

.elements-list span {
	transition: transform 0.2s ease;
}

.elements-list span:hover {
	transform: scale(1.02);
}
