mat-expansion-panel-header {
	height: fit-content;
	padding: 1rem;
}

mat-expansion-panel {
	background: transparent;
	margin: 0.45rem 0;
	border: 1px solid var(--gray);
	border-radius: 5px !important;
}

mat-panel-title {
	display: flex;
	gap: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 0.85rem;
	font-weight: 600;
	color: var(--panel-title);
	align-items: flex-end;
}

mat-panel-description {
	font-size: 0.9rem;
	color: var(--description-text);
}

.panel-content {
	background: transparent;
	padding: 1rem;
	border-radius: 5px;
	border: 1px dashed var(--darker-gray-border);
	width: 100%;
	box-sizing: border-box;
	min-height: 5rem;
	gap: 1rem;
}

.input-container {
	font-size: 0.9rem;
	color: var(--dark-gray);
	background: var(--secondary-bg-color);
	padding: 0.7rem;
}

.btn {
	background: transparent;
	border: none;
}

.number-control {
	gap: 0.5rem;
	align-items: center;
}

input,
select {
	font-size: 1rem;
	padding: 0.2rem 0.5rem;
	text-align: center;
	border: 1px dotted var(--light-gray-border);
	background: #fff;

	&:focus-visible {
		outline: none;
	}
}

input[type="number"] {
	width: 3.5rem;
}

select {
	text-align: start;
}

p {
	margin: 0;
}

.nested {
	flex-direction: column;
	align-items: stretch;
}

.divider {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	color: var(--mid-gray);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;

	&::before,
	&::after {
		content: "";
		flex: 1;
		height: 1px;
		background: var(--light-divider);
	}

	span {
		margin: 0 0.5rem;
	}
}
