<mat-accordion>
	@for(config of cssConfigs; track config.section){
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>{{config.icon}}</mat-icon> {{config.section}}
			</mat-panel-title>
			<mat-panel-description>
				{{config.summary}}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="panel-content flex-column">
			@for(property of config.properties; track property){
			<div class="input-container flex-row space_between middle" [class.nested]="property.type === 'custom'">
				<p> {{property.label}} </p>
				@switch (property.type) {
				@case ('color') {
				<input type="color" class="input-color" />
				}
				@case ('custom') {
				<app-custom-input-fields [properties]="property.props" />
				}
				@case ('text') {
				<input type="text" />
				}
				@case ('select') {
				<select class="input-select">
					@for (option of property?.options; track option) {
					<option [value]="option">{{ option }}</option>
					}
				</select>
				}
				@case ('toggle') {
				toggle input
				}
				@case ('number') {
				<div class="number-control flex-row ">
					<button class="btn" (click)="decrease()">–</button>
					<input type="number" [(ngModel)]="property.value" />
					<button class="btn" (click)="increase()">+</button>
				</div>
				}
				}
			</div>
			}
		</div>
	</mat-expansion-panel>
	}
</mat-accordion>