<mat-accordion>
	@for(config of cssConfigs; track config.section){
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>{{config.icon}}</mat-icon> {{config.section}}
			</mat-panel-title>
			<mat-panel-description>
				{{config.summary}}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="panel-content flex-column">
			@for(property of config.properties; track property){
			@switch (property.type) {
			@case ('color') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
				<input type="color" class="input-color" />
			</div>
			}
			@case ('custom') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
				<app-custom-input-fields />
			</div>
			}
			@case ('text') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
				<input type="text" />
			</div>
			}
			@case ('select') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
				<select class="input-select">
					@for (option of property?.options; track option) {
					<option [value]="option">{{ option }}</option>
					}
				</select>
			</div>
			}
			@case ('toggle') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
			</div>
			}
			@case ('number') {
			<div class="flex-row space_between input-container">
				{{property.name | camelToWords}}
				<div class="number-control flex-row">
					<button class="btn">–</button>
					<input type="number" [min]="property.min" [max]="property.max" />
					<button class="btn">+</button>
					@if(property.unit){
					<span class="unit">{{ property.unit }}</span>
					}
				</div>
			</div>
			}
			}
			}

		</div>
	</mat-expansion-panel>
	}
</mat-accordion>