input,
select {
	font-size: 1rem;
	padding: 0.2rem;
	text-align: center;
	border: 1px dotted var(--light-gray-border);
	background: #fff;
	color: #232323;

	&:focus-visible {
		outline: none;
	}
}

option {
	background: var(--bg-color);
	color: var(--main-text);
}

input[type="number"] {
	width: 4.1rem;
}

select {
	text-align: start;
}

.inputs-row {
	margin: 1rem 0 0;
}

p {
	margin: 0;
	font-size: 0.8rem;
	color: var(--secondary-text);
}

.btn {
	background: transparent;
	border: none;
}

.divider {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	color: var(--mid-gray);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;

	&::before,
	&::after {
		content: "";
		flex: 1;
		height: 1px;
		background: var(--light-divider);
	}

	span {
		margin: 0 0.5rem;
	}
}

.number-control {
	gap: 0.5rem;
	align-items: center;
}
