input,
select {
	font-size: 1rem;
	padding: 0.2rem;
	text-align: center;
	border: 1px dotted #c0c0c0;
	background: #fff;

	&:focus-visible {
		outline: none;
	}
}

input[type="number"] {
	width: 3rem;
}

select {
	text-align: start;
}

.inputs-row {
	margin: 1rem 0 0;
}

p {
	margin: 0;
}
