<div class="multi-input">
	@if (label()) {
	<label class="main-label">{{ label() }}</label>
	}
	@for (property of properties(); track property.name) {
	<div class="inputs-row flex-row space_between middle">
		<p> {{property.label}} </p>
		@switch (property.type) {
		@case ('color') {
		<input type="color" [(ngModel)]="property.value" class="input-color"
			(ngModelChange)="updateProperty(property.name, $event)" />
		}
		@case ('text') {
		<input type="text" [(ngModel)]="property.value" (ngModelChange)="updateProperty(property.name, $event)" />
		}
		@case ('select') {
		<select class="input-select" [(ngModel)]="property.value"
			(ngModelChange)="updateProperty(property.name, $event)">
			@for (option of property?.options; track option) {
			<option [value]="option">{{ option }}</option>
			}
		</select>
		}
		@case ('number') {
		<div class="number-control flex-row">
			<button class="btn" (click)="decrease(property)">–</button>
			<input type="number" [(ngModel)]="property.value" (ngModelChange)="updateProperty(property.name, $event)" />
			<button class="btn" (click)="increase(property)">+</button>
		</div>
		}
		}
	</div>
	@if(property.divider){
	<div class="divider">
		<span>Or</span>
	</div>
	}
	}
</div>