<div class="multi-input">
	@if (label()) {
	<label class="main-label">{{ label() }}</label>
	}

	<div class="inputs-row">
		@for (prop of properties(); track prop.name) {
		<div class="input-item">
			<span class="prop-label">{{ prop.label || prop.name }}</span>

			<div class="input-group">
				<input [type]="prop.type || 'number'" [(ngModel)]="prop.value" [min]="prop.min" [max]="prop.max"
					[step]="prop.step || 1" (ngModelChange)="update()" />
				@if (prop.unit) {
				<span class="unit">{{ prop.unit }}</span>
				}
			</div>
		</div>
		}
	</div>
</div>