<div class="multi-input">
	@if (label()) {
	<label class="main-label">{{ label() }}</label>
	}
	@for (property of properties(); track property.name) {
	<div class="inputs-row flex-row space_between">
		<p> {{property.label}} </p>
		@switch (property.type) {
		@case ('color') {
		<input type="color" class="input-color" />
		}
		@case ('text') {
		<input type="text" />
		}
		@case ('select') {
		<select class="input-select">
			@for (option of property?.options; track option) {
			<option [value]="option">{{ option }}</option>
			}
		</select>
		}
		@case ('number') {
		<div class="number-control flex-row ">
			<button class="btn">–</button>
			<input type="number" [min]="property.min" [max]="property.max" />
			<button class="btn">+</button>
		</div> }
		}
	</div>
	}
</div>