.config-content {
	height: calc(100% - 6rem);
	padding-right: 0.5rem;
	overflow: auto;
}

.card {
	background: #fefefe;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px #f0f0f0;
	padding: 1rem;
	box-sizing: border-box;
}

.config-container,
.code-container {
	width: 25%;
}

header.card {
	padding: 0.2rem 0.5rem;
}

.main-container {
	width: 100%;
	margin: 1rem auto;
	height: calc(100vh - 5.5rem);
	gap: 1rem;
}

.css-preview {
	width: 100%;
	height: calc(100% - 4rem);
	border: 1px solid #d3d3d3;
}

app-preview {
	height: 100%;
}
