.config-content {
	height: calc(100% - 6rem);
	padding-right: 0.5rem;
	overflow: auto;
}

.card {
	background: var(--card-bg-color);
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px var(--gray-light-color);
	padding: 1rem;
	box-sizing: border-box;
}

.config-container,
.code-container {
	width: 25%;
}

.config-container h2 {
	margin: 0.5rem 0;
}

header.card {
	padding: 0.2rem 0.5rem;
}

.main-container {
	width: 100%;
	margin: 1rem auto;
	height: calc(100vh - 5.5rem);
	gap: 1rem;
}

.css-preview {
	width: 100%;
	height: calc(100% - 4rem);
	border: 1px solid var(--gray);
}

.list-item {
	padding: 0.1rem 1rem;
	margin: 0;
	font-size: 0.8rem;
}

app-preview,
app-css-code {
	height: 100%;
}
