<header class="card flex-row space_between">
  <a class="logo" href="https://all-projects-portfolio.web.app/" target="_blank">
    <img class="logo-img" src="../assets/logo.svg" />
    <div class="logo-txt">
      <h1>FLAVIA</h1>
      <span>Kosti</span>
    </div>
  </a>
  <button mat-icon-button (click)="theme.toggleTheme()">
    <mat-icon>{{ theme.theme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</header>
<div class="main-container flex-row">
  <div class="config-container flex-column card">
    <h2>Config</h2>
    <div class="config-content">
      <app-css-configs />
    </div>
  </div>
  <div class="preview-container flex-column card">
    <h2>Preview</h2>
    <div class="css-preview flex-column">
      <app-preview />
    </div>
  </div>
  <div class="code-container flex-column card">
    <div class="flex-row space_between">
      <h2>Code</h2>
      <div class="flex-row middle">
        <button mat-icon-button (click)="copyCode()">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-icon-button (click)="downloadCode()">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <app-css-code />
  </div>
</div>