.config-content {
	height: calc(100% - 3rem);
	padding-right: 0.5rem;
	overflow: auto;
}

.card {
	background: var(--card-bg-color);
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px var(--shadow);
	padding: 1rem;
	box-sizing: border-box;
}

.config-container,
.code-container {
	width: 25%;
}

h2 {
	margin: 0.5rem 0;
}

header.card {
	padding: 0.2rem 0.5rem;
}

.main-container {
	width: 100%;
	margin: 1rem auto;
	height: calc(100vh - 5.5rem);
	gap: 1rem;
	min-width: 95rem;
}

.css-preview {
	width: 100%;
	height: calc(100% - 3rem);
	border: 1px solid var(--gray);
}

.list-item {
	padding: 0.1rem 1rem;
	margin: 0;
	font-size: 0.8rem;
}

app-preview,
app-css-code {
	height: 100%;
}

.actionBtn,
.wiggle {
	transition: all 0.3s ease;
}

.actionBtn .checked,
.wiggle:hover {
	animation: checkPop 0.6s ease forwards;
}

@keyframes checkPop {
	0% {
		transform: scale(0.3) rotate(0deg);
	}
	35% {
		transform: scale(1.3) rotate(5deg);
	}
	55% {
		transform: scale(1.1) rotate(-5deg);
	}
	70% {
		transform: scale(1.2) rotate(3deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
