@let src = activeTheme === 'light-theme' ? 'assets/logo.svg' : 'assets/logo-white.svg' ;
<header class="card flex-row space_between">
  <a class="logo" href="https://all-projects-portfolio.web.app/" matTooltip="See Portfolio" target="_blank">
    <img class="logo-img" [src]="src" />
    <div class="logo-txt">
      <h1>FLAVIA</h1>
      <span>Kosti</span>
    </div>
  </a>
  <div class="flex-row">
    <button class="wiggle" matTooltip="Existing Issues" mat-icon-button [matMenuTriggerFor]="menuIssues">
      <mat-icon>bug_report</mat-icon>
    </button>
    <button class="wiggle" matTooltip="Upcoming features and enhancements" matTooltipPosition="left" mat-icon-button
      [matMenuTriggerFor]="menuFeatures">
      <mat-icon>auto_awesome</mat-icon>
    </button>
    <button matTooltip="Select theme" mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ activeTheme !== 'light-theme' ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</header>
<div class="main-container flex-row">
  <div class="config-container flex-column card">
    <h2 class="flex-row space_between middle">Config
      <!-- @if(elementExists){
        <button mat-icon-button (click)="reset()" matTooltip="Reset style to original value">
          <mat-icon>history</mat-icon>
        </button>
      } -->
    </h2>
    <div class="config-content">
      <app-css-configs />
    </div>
  </div>
  <div class="preview-container flex-column card">
    <div class="flex-row space_between middle">
      <h2>Preview </h2>
      @if(elementExists){
      <div class="flex-row">
        <button mat-icon-button class="actionBtn" (click)="randomizeStyles()" matTooltip="Generate random style">
          <mat-icon>shuffle</mat-icon>
        </button>
        <button mat-icon-button (click)="reset()" matTooltip="Reset style to original value">
          <mat-icon>history</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Capture Screenshot" (click)="downloadScreenshot()">
          <mat-icon>center_focus_strong</mat-icon>
        </button>
      </div>
      }
    </div>
    <div #captureArea class="css-preview flex-column">
      <app-preview />
    </div>
  </div>
  <div class="code-container flex-column card">
    <div class="flex-row space_between">
      <h2>Code</h2>
      @if(elementExists){
      <div class="flex-row middle">
        <button class="actionBtn" mat-icon-button (click)="copyCode()" matTooltip="Copy CSS code">
          <mat-icon [class.checked]="copied">{{copied ? 'done': 'content_copy'}}</mat-icon>
        </button>
        <button class="actionBtn" mat-icon-button (click)="downloadCode()" matTooltip="Download Css Code">
          <mat-icon>download</mat-icon>
        </button>
      </div>
      }
    </div>
    <app-css-code />
  </div>
</div>


<mat-menu #menuIssues="matMenu">
  @for(issue of issues; track issue){
  <p class="list-item">{{issue}}</p>
  }
</mat-menu>

<mat-menu #menuFeatures="matMenu">
  @for(feature of features; track feature){
  <p class="list-item"> {{feature}}</p>
  }
</mat-menu>