<header class="card">
  <a class="logo" href="https://all-projects-portfolio.web.app/" target="_blank">
    <img class="logo-img" src="../assets/logo.svg" />
    <div class="logo-txt">
      <h1>FLAVIA</h1>
      <span>Kosti</span>
    </div>
  </a>
</header>
<div class="main-container flex-row">
  <div class="config-container flex-column card">
    <h2>Css Config</h2>
    <div class="config-content">
      <app-css-configs />
    </div>
  </div>
  <div class="preview-container flex-column card">
    <h2>Preview</h2>
    <div class="css-preview flex-column">

    </div>
  </div>
  <div class="code-container flex-column card">

  </div>
</div>