.code-preview {
	height: 100%;
	background: var(--secondary-bg-color);
	border-radius: 5px;
	border: 1px dotted var(--gray);
	padding: 1rem;
	box-sizing: border-box;
}

code {
	color: #232323;
	text-wrap: auto;
}
