*:not(input, select, textarea, code) {
	color: var(--main-text);
}

* {
	font-family: "DejaVu Sans", "sans";
}

body,
.mat-mdc-menu-panel {
	background-color: var(--bg-color) !important;
	margin: 0;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.middle {
	align-items: center;
}

.end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

button:hover {
	cursor: pointer;
}

input[type="color"] {
	width: 4.5rem;
	height: 2.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.preview-container {
	width: 50%;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background: var(--gray);
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 9px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

mat-expansion-panel-header .mat-content {
	display: flex;
	flex-direction: column;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
	box-shadow: none !important;
}

.mat-expansion-panel-body {
	padding: 0.5rem 1.5rem;
}

.space_between {
	justify-content: space-between;
}
