*:not(input, select, textarea, code) {
	color: var(--main-text);
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.middle {
	align-items: center;
}

.end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

button:hover {
	cursor: pointer;
}

input[type="color"] {
	width: 4.5rem;
	height: 2.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.preview-container {
	width: 50%;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background: var(--gray);
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 9px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem;
	width: fit-content;
}

.logo img {
	height: 35px;
}

.logo-txt {
	padding-left: 7px;
	display: flex;
	flex-direction: column;
	color: var(--logo-text);
}

.logo-txt h1,
.logo-txt span {
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: 4px;
	text-align: start;
}

.logo-txt h1 {
	font-weight: bolder;
	font-size: 1rem;
	margin-top: 2px;
}

.logo-txt span {
	font-weight: lighter;
	font-size: 0.85rem;
}

mat-expansion-panel-header .mat-content {
	display: flex;
	flex-direction: column;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
	box-shadow: none !important;
}

.mat-expansion-panel-body {
	padding: 0.5rem 1.5rem;
}

.space_between {
	justify-content: space-between;
}
